/*
 * ----- BEGIN BOILERPLATE -----
 * see https://blog.logrocket.com/what-should-modern-css-boilerplate-look-like/
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html {
  /* font-size: 62.5%; */ /* (62.5/100) * 16px = 10px */
  /* ^-- uncomment if/when i start using rem font sizes */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}

/*
 * ----- END BOILERPLATE -----
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading {
  border: 4px solid #ddd; /* Light grey */
  border-top: 4px solid #8eacc1; /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.red {
  background-color: #fb8072;
  border-color: #ad574d;
}
.green {
  background-color: #b3de69;
  border-color: #87a74f;
}
.blue {
  background-color: #80b1d3;
  border-color: #5f849e;
}
.white {
  background-color: #d9d9d9;
  border-color: #b1b1b1;
}
