.scroll {
  overflow-x: auto;
}

.clickable {
  cursor: pointer;
}

.clickable:hover .top {
  filter: brightness(1.06);
}

.pulse {
  animation: pulse 1.3s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    stroke-opacity: 1;
    fill-opacity: 0.35;
  }
  50% {
    stroke-opacity: 0.4;
    fill-opacity: 0.1;
  }
}
