name: game

on:
  workflow_dispatch:
  pull_request:
    paths:
      - game/**
      - .github/workflows/game.yml
  push:
    branches:
      - main

env:
  CI: true

jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: game
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "npm"
          cache-dependency-path: game/package.json
      - run: npm install
      - run: npm run lint
      - run: npm run build --if-present
      - run: npm run test -- --coverage
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./game/coverage/lcov.info
          base-path: game
